body
{
background-color:#dce8ef;
}
h1
{
text-align: center;
color:#073028;
margin-left:250;
font-family:Forte;
}
p
{
text-align: center;
color:#415d63;
margin-left:200;
font-family:Forte;
}
ul
{
text-align:left;
color:#415d63;
margin-left:200;
font-family:Forte;
}
h2
{
text-align: center;
color:#605159;
margin-left:200;
font-family:Forte;
}